body {
  width: 1024px;
  margin: 0 auto;
 background-color: rgba(123, 71, 237, 0.63);
}

header{
    position:fixed;
    width:1024px;
    z-index: 1;
}

div.pass{
    background-color: cyan;
    position:relative;
    top: 60px;
    margin-top: 30px;
    mergin-bot:30px;
    padding-bottom: 20px;
}

div.photo
{
    display:inline;
}

div.info{
    display: inline;
}

.row
{
    display: block;
    width: 100%;
    background-color: rgb(179, 139, 22);
    font-size: 1.5em;
    height: 54px;
}

.logo
{
    display: inline;
    padding-right: 150px;
    padding-left: 10px;
    border-right: 2px solid black;
}

.navigation
{
    display: inline;
    margin: 80px;
    height:auto;
}

.navigation a
{
    display:inline;
    padding: 30px;
    width: 120px;
}

div.skills{
    background-color: red;
    position:relative;
    top: 60px;
    margin-top: 30px;
    mergin-bot:30px;
    padding-bottom: 20px;
}

ul.eng{
    background-color: yellow;
}

ul.s2{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
}

div.sum{
    height:auto;
    background-color:green;
    position: relative;
    top: 70px;
}

h2.center{
    text-align: center;
}

p{
    white-space: pre-wrap;
}

.foot{
    height: auto;
    position: relative;
    background-color: black;
    color: white;
    top: 70px;
}
